.App {
  text-align: center;
}

.Movies {
  display: inline-block;
  margin: 30px;
}

.Movies:hover a {
  opacity: 0;
}

.Hovered:hover {
  background-color: #232A3B;
  opacity: 6;
  z-index: 50;
  height: 450px;
}

.Hovered p {
opacity: 0;
}

.Hovered:hover p{
  position: relative;
  bottom: 300px;
  opacity: 1;
  cursor: pointer;
  color: #00FF66;
  font-size: 30px;
  font-weight: bold;
  margin: 0 5px 0 5px;
}

