/*main css for page*/
.App {
  text-align: center;
  margin: 10px 10% 0 10%;
}
/*Movies that are first listed (Now Showing)*/
.Movies {
  display: inline-block;
  margin: 30px;
}

.Movies:hover a {
  opacity: 0;
}

.Hovered:hover {
  background-color: #232A3B;
  opacity: 6;
  z-index: 50;
  height: 450px;
}

.Hovered p {
opacity: 0;
}

.Hovered:hover p{
  position: relative;
  bottom: 300px;
  opacity: 1;
  cursor: pointer;
  color: #00FF66;
  font-size: 150%;
  font-weight: bold;
  margin: 0 5px 0 5px;
}
/*Searched Movies in search bar*/
.listItems{
  list-style-type: none;
  background-color: grey;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  width: 50.2%;
  position: relative;
  left: 24.8%;
  height: 150px;
}

.listItems:hover {
  background-color: yellow;
  cursor: pointer;
  color: green;
}

.listItems li {
  font-size: 200%;

}

.moviePictures{
  width: 100px;
  height: 150px;
  position: absolute;
  right: 80%;
}

/*Overlay details/credits*/

.Overlay {
  height: 900px;
  width: 900px;
  opacity: .9;
  left: 25%;
  position: fixed;
  z-index: 100;
  background-color: yellow;
}

.OverlayBackground {
  background-color: #433A3A;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
  height: 100vh;
  width: 100%;
  z-index: 99;
}